.product-info-container {
    border:2px solid turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:turquoise;
    margin:10px;
    border-radius:10px;
}

@media only screen and (max-width: 640px) {
    .product-info-container {
        font-size:15px;
    }
}

#price {
    border:2px solid black;
    border-radius:20px;
    background-color:turquoise;
    color:black;

}

@media only screen and (max-width: 640px) {
    #price {
        font-size:40px;
    }
    
    #prodTitle {
        font-size:40px;
    }
}

#prodImg {
    height: 400px;
    width: 400px;
    border:3px solid turquoise;
    border-radius:20px;
}

@media only screen and (max-width: 640px) {
    #prodImg {
        height:200px;
        width:200px;
    }
}

.product-details-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}