.infoBox {
    font-size: 40px;
    color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px turquoise;
    margin: 10px;
    background-color: black;
    border-radius:20px;
}

@media only screen and (max-width: 450px) {
    .infoBox {
      font-size: 25px;
    }
}

.accountBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    border: solid 2px turquoise;
    margin: 10px;
    border-radius:20px;
}

@media only screen and (max-width: 645px) {
    .accountBar {
      flex-direction: column;
      font-size:25px;
    }
}

.address {
    display:flex;
    justify-content: center;
    text-align:center;
    background-color: black;
    border:2px solid turquoise;
    border-radius:20px;
    margin:10px;
}

.addressInfo {
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    background-color: black;
    border:2px solid turquoise;
    border-radius:20px;
    margin:10px;
    font-size:30px;
}

@media only screen and (max-width: 450px) {
    .addressInfo {
      font-size: 25px;
    }
    .address {
        font-size:25px;
    }
}

.deliveryInfo {
    color:turquoise;
}